<div class="shadow bg-light p-5 rounded">
  <div class="text-center mb-5">
    <h1><%= @post.title %></h1>

    <p class="text-muted">
      <strong>Por <%= @post.author %></strong></br>
      <%= l @post.created_at, format: :long %>
    </p>
  </div>

  <div class="px-5">
    <%= @post.body.gsub("\n", "<br>").html_safe %>
  </div>

  <div class="m-5">
    <div class="text-center">
      <h4>
        <%= pluralize(@post.commments.count, 'Comentário') %>

        <% if @post.commments.none? %>
          <span class="badge bg-success">Seja o primeiro a comentar!</span>
        <% end %>
      </h4>
    </div>

    <%= form_with model: @commment, local: true do |form| %>
      <div class="form-group mb-3">
        <%= form.label "Autor" %>
        <%= form.text_field :author, class: 'form-control' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label "Comentário" %>
        <%= form.text_area :body, class: 'form-control', rows: 3 %>
      </div>

      <%= form.submit 'Enviar', class: 'btn btn-primary',
                      data: { disable_with: 'Enviando...' } %>
    <% end %>

  </div>
</div>


