<div class="shadow bg-light p-5 rounded">
  <div class="text-center mb-5">
    <h1><%= @post.title %></h1>

    <p class="text-muted">
      <strong>Por <%= @post.author %></strong></br>
      <%= l @post.created_at, format: :long %>
    </p>
  </div>

  <div class="px-5">
    <%= @post.body.gsub("\n", "<br>").html_safe %>
  </div>
</div>

  <div class="m-5">
    <div class="text-center">
      <h4>
        <%= pluralize(@post.commments.count, 'Comentário') %>

        <% if @post.commments.none? %>
          <span class="badge bg-success">Seja o primeiro a comentar!</span>
        <% end %>
      </h4>
    </div>

    <div class="shadow-sm m-3 p-3 bg-light rounded">
      <%= form_with model: @commment, local: true do |form| %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <div class="form-group mb-3">
          <%= form.label "Autor" %>
          <%= form.text_field :author, class: 'form-control' %>
        </div>

        <div class="form-group mb-3">
          <%= form.label "Comentário" %>
          <%= form.text_area :body, class: 'form-control', rows: 3 %>
        </div>

        <%= form.submit 'Enviar', class: 'btn btn-primary',
                        data: { disable_with: 'Enviando...' } %>
      <% end %>
    </div>

    <% @commments.each do |commment| %>
      <div class="shadow-sm m-3 p-3 bg-light rounde">
        <div class="row">
          <div class="col">
            <strong><%= commment.author %></strong>
          </div>

          <div class="col text-lg-end">
            <em data-bs-toggle="tooltip" data-bs-placement="top" title="<%= l commment.created_at, format: :long %>">
              <%= time_ago_in_words commment.created_at %> atrás
            </em>
          </div>
        </div>
      </div>
    <% end %>
   </div>



